<!doctype html>
<html>
<head>
    <title>Roulette!</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Roulette</h1>
<div class="container">
        <label>Choose Your Color</label>
        <button type="button" id="red">RED</button>
        <button type="button" id="green">Green</button>
        <button type="button" id="black">Black</button>

        <label>Place Your Bet</label>
        <input id="betAmount" type="text" name="bet" placeholder="ex. 999">
        
    
    <h1 id="outcome"></h1>
    <script src="/main.js"></script>
</div>
</body>
</html>
